.dice1, .dice2 {
  width: 70px;
  height: 70px;
  border: black 3px solid;
  margin-left: 10px;
}

.buttons {
  margin-top: 20px;
}

.dice1 p, .dice2 p {
  font-size: 50px;
  text-align: center;
  margin-top: -5px;
}

.gameTotal1 p, .gameTotal2 p {
  font-size: 50px;
  text-align: center;
  margin-top: 10px;
}
